# dependencies
node_modules

# sst
.sst
.build
stacks/index.js
stacks/MyStack.js

# misc
.DS_Store

# local env files
.env*.local
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore log files
*.log
.smithy.lsp.log

# Ignore javascript files
*.js